.tellStories {
  height: 61vw;
  margin-top: 0vw;

  background-color: #7DC1C6;
}

.tellStoriesTexst{
  margin-right: 10vw;
  margin-left: 10vw;
}

h3 {
  padding-top: 10vw;

  color: #E83C38;

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.2vw;
  font-weight: 700;
}

h1 {
  width: 35vw;
  padding-top: 1vw;

  text-align: -1vw;

  color: #0B004C;

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 3vw;
  font-weight: 700;
  line-height: 4vw;
}

.tellStoriesTexst p {
  width: 20vw;
  padding-top: 5vw;

  color: #0B004C;

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.5vw;
  font-weight: 300;
  line-height: 1.9vw;
}

.one-one {
  position: absolute;

    width: 32vw;
    margin-top: -29vw;
    margin-left: 48vw;
}

.one-two {
  position: absolute;

  width: 23vw;
  margin-top: -14vw;
  margin-left: 41vw;
}

.tellStoriesCard {
  height: 28vw;
  margin-top: 14vw;
  margin-right: 10vw;
  margin-left: 10vw;

  border-radius: 2vw;
  background-color: #ffffff;
  box-shadow: 0 0 3vw rgba(0,0,0,0.2);
}

.one-three {
  width: 31vw;
  padding-top: 4vw;
  padding-left: 4vw;
}

h2 {
  width: 31vw;
  margin-top: -22vw;
  margin-left: 43vw;

  text-align: -1vw;

  color: #0B004C;

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2vw;
  font-weight: 700;
  line-height: 3vw;
}

.tellStoriesCard p {
  width: 25vw;
  margin-top: -3vw;
  margin-left: 43vw;
  padding-top: 5vw;

  color: #0B004C;

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1vw;
  font-weight: 300;
  line-height: 1.5vw;
}

.tellStoriesCard a {
  display: inline-block;

  height: 3.4vw;
  margin-top: 2vw;
  margin-left: 43vw;
  padding: 0vw 2vw;

  text-decoration: none;

  color: white;
  border-radius: 2vw;
  background: #FF4E4E;

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1vw;
  line-height: 3.3vw;
}

.learnMore {
  margin-top: 27vw;
  margin-right: 10vw;
  margin-left: 10vw;
}

.learnMore p {
  width: 26vw;
  padding-top: 5vw;

  color: #0B004C;

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.5vw;
  font-weight: 300;
  line-height: 1.9vw;
}

.one-four {
  position: absolute;
  z-index: 2;

  width: 21vw;
  margin-top: -34vw;
  margin-left: 56vw;

}

.one-five {
 position: absolute;
 z-index: 1;

 width: 38vw;
 margin-top: -16vw;
 margin-left: 44vw;
}

.one-six {
  position: absolute;

  width: 24vw;
  margin-top: 6vw;
  margin-left: 34vw;
}

.end {
  margin-top: 36vw;
}

.one-seven {
  width: 55vw;
}

.end h1 {
  width: 46vw;
  margin-top: 12vw;
  margin-left: 27vw;

  text-align: -1vw;
  text-align: center;

  color: #0B004C;

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 3.5vw;
  font-weight: 700;
  line-height: 4vw;
}

.one-eght {
  position: absolute;

  width: 18vw;
  margin-top: -27vw;
  margin-left: 19vw;
}

.one-nine {
  position: absolute;

  width: 12vw;
  margin-top: -3vw;
  margin-left: 32.3vw;
}

.one-eleven {
  position: absolute;

  width: 11vw;
  margin-top: -6vw;
  margin-left: -58vw;
}

.one-ten {
  width: 25vw;
  margin-top: 7vw;
  margin-left: 39vw;
}

.end a {
  display: inline-block;

  height: 3.4vw;
  margin-top: 4vw;
  margin-left: 44vw;
  padding: 0vw 2vw;

  text-decoration: none;

  color: white;
  border-radius: 2vw;
  background: #FF4E4E;

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1vw;
  line-height: 3.3vw;
}
